<!-- Menu toggle -->
<a href="#menu" id="menuLink" class="menu-link">
  <!-- Hamburger icon -->
  <span></span>
</a>
<div id="menu">

  {{ partial "brand.html" . }}

  <div class="pure-menu">
    <ul class="pure-menu-list">
      {{ $classes := "pure-menu-item" }}
      {{ if .IsHome }}
        {{ $classes = print $classes " pure-menu-selected" }}
      {{ end }}
      <li class="{{ $classes }}">
      {{ with .Site.Home }}
        <a class="pure-menu-link" href="{{ .RelPermalink }}">{{ .Title }}</a>
      {{ end }}
      </li>
      {{ partial "menu-recursive.html" (dict "subpages" .Site.Home.Pages "active" .) }}
    </ul>
  </div>

  {{ partial "social.html" . }}

  {{ partial "copyright.html" . }}
</div>
